@keyframes color-back {
  0% {
    background: linear-gradient(#FF79DA, #9356DC);
  }
  33% {
    background: linear-gradient(#ff79ea, #8356dc);
  }
  66% {
    background: linear-gradient(#ff79f9, #7456dc);
  }
  100% {
    background: linear-gradient(#f579ff, #6456dc);
  }
}
@keyframes showElement {
  0% {
    height: 0;
    overflow: hidden;
  }
  90% {
    height: 0;
    overflow: hidden;
  }
  100% {
    overflow: visible;
    height: auto;
  }
}
.hide-a-moment {
  animation: showElement 3s forwards;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.p-32 {
  padding-top: 32px;
}

.border {
  box-shadow: 0px 0px 3px 3px #e0e0e0;
  margin-bottom: 3px;
}

.header {
  display: flex;
  flex-direction: column;
  z-index: -999;
  max-height: 480px;
}
.header__head {
  display: flex;
  align-items: center;
}
.header__head a {
  text-decoration: none;
  color: black;
}
.header__head a:nth-child(2) {
  flex: 1;
}
.header__head--title {
  font-family: Shrikhand;
  cursor: pointer;
  color: black;
  width: 100%;
  text-align: center;
}
.header__head--backlink {
  margin-left: 24px;
  font-size: 24px;
}
.header__info {
  background: #F0F0F0;
  display: flex;
  justify-content: center;
  color: #2d3436;
}
.header__info--address {
  font-weight: 500;
}
.header__info--icone {
  margin-right: 8px;
}
.header__intro {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  max-height: 500px;
}
.header__intro--img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.header__intro--title {
  margin: 0;
  font-size: 24px;
  color: #2d3436;
}
.header__intro--subtitle {
  margin: 8px 0;
  font-size: 16px;
  color: #636e72;
}
.header__intro--button {
  border: none;
  padding: 16px 24px;
  border-radius: 50px;
  font-weight: 800;
  font-size: 12px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  margin: 32px 0;
  cursor: pointer;
  box-shadow: 3px 3px 5px #b4b4b4;
  transition-property: box-shadow;
  transition-duration: 500ms;
}
.header__intro--button:hover {
  box-shadow: 3px 3px 10px #b4b4b4;
  animation: color-back 500ms forwards;
}

.footer {
  background-color: #2d3436;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.footer--title {
  font-family: Shrikhand;
  font-size: 24px;
  margin: 0;
}
.footer__nav {
  list-style-type: none;
  padding: 0;
}
.footer__nav--link {
  margin: 8px 0;
  cursor: pointer;
}
.footer__nav--link .fas {
  width: 24px;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -16px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
.menu {
  background: #F9F9F9;
  z-index: 999;
  top: -56px;
  position: relative;
  border-radius: 48px 48px 0 0;
  margin-bottom: -56px;
  padding: 24px;
}
.menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__heading--title {
  font-family: Shrikhand;
}
.menu__heading--icon {
  font-size: 20px;
  cursor: pointer;
  color: #F2F2F2;
}
.menu__heading--icon i {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition-property: background, background-clip, -webkit-text-fill-color;
  transition-duration: 400ms;
}
.menu__heading--icon:hover i {
  -webkit-text-stroke-width: 0px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.menu__container--button {
  border: none;
  padding: 16px 24px;
  border-radius: 50px;
  font-weight: 800;
  font-size: 12px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  margin: 32px 0;
  cursor: pointer;
  box-shadow: 3px 3px 5px #b4b4b4;
  transition-property: box-shadow;
  transition-duration: 500ms;
  font-size: 16px;
}
.menu__container--button:hover {
  box-shadow: 3px 3px 10px #b4b4b4;
  animation: color-back 500ms forwards;
}
.menu__container__elt__content__value {
  margin: 16px 0;
  border-radius: 16px;
  background: white;
  box-shadow: 5px 5px 5px #F2F2F2, -5px 5px 5px #F2F2F2, 3px -3px 3px #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0px 16px;
  cursor: pointer;
  overflow: hidden;
  animation: fadeIn 5s;
}
.menu__container__elt__content__value--title, .menu__container__elt__content__value--info, .menu__container__elt__content__value--price {
  margin: 8px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.menu__container__elt__content__value--price {
  font-weight: 600;
}
.menu__container__elt__content__value--info {
  font-size: 14px;
  font-weight: 300;
}
.menu__container__elt__content__value:hover .menu__container__elt__content__value--icon {
  width: 56px;
  background: #99E2D0;
  position: relative;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  overflow: hidden;
}
.menu__container__elt__content__value:hover .menu__container__elt__content__value--icon .fas {
  transform: rotate(360deg);
}
.menu__container__elt__content__value--icon {
  width: 0px;
  background: #99E2D0;
  position: relative;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  overflow: hidden;
  transition: width 400ms;
}
.menu__container__elt__content__value--icon .fas {
  transform: rotate(180deg);
  transition: transform 400ms;
}
.menu__container__elt__content__value div {
  min-height: 64px;
}
.menu__container__elt__content__value div + div {
  display: flex;
  align-items: flex-end;
}
.menu__container__elt--name {
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 50px;
}

.d-center {
  display: flex;
  justify-content: center;
}

.work {
  padding: 0 24px;
}
.work--title {
  font-size: 24px;
  color: #2d3436;
}
.work__container__elt {
  margin: 32px 0;
  background: #F9F9F9;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #2d3436;
  cursor: pointer;
  padding: 8px 0;
  box-shadow: 5px 5px 5px #F3F3F3;
  transition-property: background;
  transition-duration: 400ms;
}
.work__container__elt--icon {
  width: 96px;
  text-align: center;
  color: #636e72;
  font-size: 18px;
  transition-property: color;
  transition-duration: 400ms;
}
.work__container__elt:hover {
  background: #f2eafb;
}
.work__container__elt:hover .work__container__elt--icon {
  color: #9356DC;
}

@keyframes showElement {
  0% {
    height: 0;
    overflow: hidden;
  }
  90% {
    height: 0;
    overflow: hidden;
  }
  100% {
    overflow: visible;
    height: auto;
  }
}
.hide-a-moment {
  animation: showElement 3s forwards;
}

.store {
  background: #F9F9F9;
  padding: 16px;
  overflow: hidden;
}
.store--title {
  font-size: 24px;
}
.store__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.store__container__elt {
  margin: 16px 24px;
  max-height: 320px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px #F1F1F1;
  border-radius: 25px;
  overflow: hidden;
}
.store__container__elt__info {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.store__container__elt__info--name {
  text-decoration: none;
  color: black;
}
.store__container__elt__info--name h4, .store__container__elt__info--name p {
  margin: 6px 0;
}
.store__container__elt__info--name h4 {
  font-size: 16px;
}
.store__container__elt__info--name p {
  font-size: 12px;
  font-weight: 300;
}
.store__container__elt__info--icon {
  font-size: 20px;
  cursor: pointer;
  color: #FFFFFF;
}
.store__container__elt__info--icon i {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition-property: background, background-clip, -webkit-text-fill-color;
  transition-duration: 400ms;
}
.store__container__elt__info--icon:hover i {
  -webkit-text-stroke-width: 0px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.store__container__elt__img {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.store__container__elt__img--img {
  width: 100%;
}

@keyframes animeSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hideSpinner {
  0% {
    opacity: 1;
    height: 420px;
  }
  90% {
    opacity: 1;
    height: 420px;
  }
  100% {
    opacity: 0;
    overflow: hidden;
    height: 0;
  }
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSpinner 3s forwards;
  height: 420px;
}
.spinner .fa-spinner {
  margin: 15px 0;
  font-size: 82px;
  animation-duration: 4s;
  animation-name: animeSpinner;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*# sourceMappingURL=style.css.map */
