@keyframes animeSpinner {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes hideSpinner {
    0% {
        opacity: 1;
        height: 420px;
    } 90% {
        opacity: 1;
        height: 420px;
    } 100% {
        opacity: 0;
        overflow: hidden;
        height: 0;
    }
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSpinner 3s forwards;
    height: 420px;
    .fa-spinner {
        margin: 15px 0;
        font-size: 82px;
        animation-duration: 4s;
        animation-name: animeSpinner;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}