@import "../Utils/show-element.scss";

.store {
    background: #F9F9F9;
    padding: 16px;
    overflow: hidden;
    &--title {
        font-size: 24px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__elt {
            margin: 16px 24px;
            max-height: 320px;
            max-width: 480px;
            display: flex;
            flex-direction: column;
            box-shadow: 5px 5px 5px 5px #F1F1F1;
            border-radius: 25px;
            overflow: hidden;
            &__info {
                padding: 8px 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &--name {
                    text-decoration: none;
                    color: black;
                    h4, p {
                        margin: 6px 0;
                    }
                    h4 {
                        font-size: 16px;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
                &--icon {
                    @include icon(#FFFFFF);
                }
            }
            &__img {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &--img {
                    width: 100%;
                }
            }
        }
    }
}